allpairspy==2.5.0
approval-utilities==8.2.5
approvaltests==8.2.5
atomicwrites==1.4.1
attrs==20.2.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.4
coverage==5.3
docopt==0.6.2
empty-files==0.0.3
exceptiongroup==1.1.1
idna==3.4
iniconfig==1.1.1
mrjob==0.7.4
mutatest==3.1.0
packaging==20.4
pathtools==0.1.2
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.1.2
pytest-approvaltests==0.2.4
pytest-cov==2.10.1
pytest-pythonpath==0.7.3
pytest-watch==4.2.0
PyYAML==6.0
requests==2.31.0
six==1.15.0
soupsieve==2.4.1
toml==0.10.1
tomli==2.0.1
typing-extensions==4.6.3
urllib3==2.0.3
watchdog==0.10.3
